:root {
  --background-color: #f0f2da;
  --font-family: "IBM Plex Sans", sans-serif;
  --text-color: #141721;
  --box-background: #ffffff;
  --header-background: #141721;
  --button-background: #78dce8;
  --button-hover-background: #66c6d9;
  --error-color: red;
  --link-color: #f9ff73;
  --link-hover-color: #141721;
  --modal-background: rgba(0, 0, 0, 0.5);
  --modal-content-background: #fff;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background-color);
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66666;
  color: var(--text-color);
  margin: 0;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 32px;
  margin: 0 auto;
}

.header {
  background: var(--header-background);
  padding: 0 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.header-r {
  display: inline-flex;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 32px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--box-background);
  overflow: hidden;
  border-radius: 12px;
  padding: 16px;
}

.box img {
  height: 100%;
  object-fit: contain;
}

.text-center {
  text-align: center;
}

.actions {
  display: flex;
  gap: 0.5rem;
  max-width: 500px;
  margin: 0 auto 2rem;
}

.actions button {
  flex: 1;
}

h1, h3 {
  font-weight: 700;
  color: var(--text-color);
}

h1 {
  font-size: 18px;
  line-height: 28px;
  margin: 8px 0;
}

h3 {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 4px;
}

p, label, .error {
  margin: 0 0 20px;
}

input, button {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: var(--button-background);
  box-shadow: none;
  border: none;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}

button:hover {
  background: var(--button-hover-background);
}

.builders {
  color: var(--link-color);
  transition: color 0.3s, background-color 0.3s;
}

.builders:hover {
  color: var(--link-hover-color);
  background-color: var(--link-color);
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--modal-background);
}

.modal-container {
  max-width: 90vw;
  max-height: 90vh;
  overflow: auto;
  background: var(--modal-content-background);
  position: relative;
  padding: 2rem;
}

.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  appearance: none;
  color: var(--error-color);
  background: none;
  border: 0;
  font-weight: bold;
  cursor: pointer;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

@media (min-width: 767px) {
  .container {
    padding: 32px 88px;
  }

  .header-l {
    max-width: 404px;
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }

  .box.collection {
    padding-top: 60px;
  }
}
